.pfpOutline {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.mainOutline {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
  margin-top: 1rem;
  padding: 0 2rem 2rem 2rem;
  border-radius: 12px;
  border: 1px #e4dfee8f solid;
  box-shadow: 0 0 3px #e4dfee8f;
  background-image: var(--twilightGradient);
}

.settings {
  color: var(--dark-eggplant);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 25rem;
  min-width: 50%;
  flex-direction: column;
  text-align: left;
  background: transparent;
  border: 2px solid #000;
  box-shadow: 4px 4px 0px var(--black1);
  padding: 24px 100px;
}

.infoOutline,
.accOutline,
.signOutline,
.regisOutline {
  color: var(--pale-lavender);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  border: 2px #00000050 solid;
  min-height: 20rem;
  min-width: 100%;
  flex-direction: column;
}

.signOutline,
.regisOutline {
  min-height: auto;
  height: 0;
  padding-bottom: 85%;
  width: 26rem;
  box-shadow: 0 0 4px var(--pale-lavender);
  border: 1px var(--pale-lavender) solid;
}

.regisOutline {
  padding-bottom: 100%;
}

.infoOutline {
  margin-top: 1.5rem;
}

.accOutline {
  margin-top: 1rem;
}

.legend {
  color: var(--black2);
  font-size: 17px;
  font-weight: 600;
}

/* .reportOutline {
  color: var(--black2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(260, 57%, 37%);
  border: 2px #00000050 solid;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  gap: 1rem;
} */

.reportOutline {
  color: var(--dark-eggplant);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: auto;
  gap: 1rem;
  flex-direction: column;
  background: #fff;
  border: 2px solid #000;
  box-shadow: 4px 4px 0px var(--black1);
  padding: 24px 100px 10px 100px;
  margin-top: 50px;
}

.test {
  color: var(--dark-eggplant);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 25rem;
  min-width: 100%;
  flex-direction: column;
  text-align: left;
  background: var(--pale-lavender);
  border: 2px solid #000;
  box-shadow: 4px 4px 0px hsl(294, 45%, 28%);
  padding: 24px 100px;
}
