.body {
  font-family: "Saira", monospace;
  /* background-color: var(--dark-eggplant); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  /* background-image: linear-gradient(
      rgba(28, 9, 46, 0.459),
      rgba(30, 15, 48, 0.678)
    ),
    url("../assets/bg.jpg"); */
  background-image: linear-gradient(
      hsla(293, 43%, 31%, 0.493),
      hsla(305, 22%, 10%, 0.863)
    ),
    url("../assets/bg.jpg");
  background-size: cover;
}

.usernameDiv {
  margin-top: 30px;
  align-self: center;
}

.passwordDiv {
  margin-top: 30px;
  align-self: center;
  margin-bottom: 14px;
}

.signHead {
  align-self: center;
  margin-top: 1rem;
  font-size: 2.5rem;
}

.switchPage {
  align-self: center;
  margin-top: -45px;
  text-decoration: underline;
  color: var(--dark-eggplant);
}
.switchPage:visited {
  color: var(--dark-eggplant);
}

form {
  display: contents;
  margin: 0;
  padding: 0;
}

a:visited {
  color: var(--pale-lavender);
}

a:focus {
  outline: none;
  box-shadow: 0 0 5px var(--pale-lavender);
}
