.confirmPass {
  margin-top: 15px;
  align-self: center;
  margin-bottom: 10px;
}

.errorMsg {
  margin-bottom: -4%;
  font-size: 0.9rem;
  height: 1.2rem;
  margin-top: 0.5rem;
  text-align: center;
}
