.body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.body,
.body * {
  font-family: inherit;
}

.body {
  flex: 1;
  padding: 0;
  margin: 0;
  background: #f3f4f6;
  /* min-height: 0; */
  overflow-x: hidden;
}

.img {
  margin-top: 1rem;
  align-self: flex-start;
  max-width: 100%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid var(--black2);
  object-fit: cover;
  object-position: center; 
}

.info {
  min-width: 40px;
  margin-bottom: 16px;
  border-bottom: 2px solid #000;
}

.p {
  color: var(--dark-indigo);  
  font-size: 13px;            
  font-weight: 800;            
  text-transform: uppercase;  
  margin-bottom: 6px;
}

.user {
  color: var(--black1);
  font-size: 14px;
  font-weight: 500;
}

.buttonWrapper button {
  margin-top: 15px;
  padding: 10px 40px;
  width: 100%;
}

.followHeader {
  border-bottom: 2px solid #000;
  padding-bottom: 6px;
  margin-bottom: 20px;
}

.followH1 {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--black1);
}

.settingsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deleteWrapper button {
  background-color: hsl(350, 73%, 38%);
}

.deleteWrapper button:hover {
  background-color: hsl(350, 84%, 44%);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background: var(--pale-lavender);
  padding: 15px;
}

.galleryItem {
  cursor: pointer;
}

.galleryItem:hover {
  opacity: 0.8;
}
